body {
    background: #777;
    width:960px;
}



div {
    width: 600px;
    padding: 30px;
    margin: 0;
    background-color: #ebebeb
}


p{  

	width: 495px;
    padding: 30px;
    margin: 0;
    background-color: #ebebeb

}










